In [1]:
import pandas as pd

In [2]:
# Read data from file

df = pd.read_csv("adult.data.csv")
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [3]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.race.value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
# What is the average age of men?

average_age_men = round(df[df["sex"]=="Male"]["age"].mean(),2)
average_age_men

39.43

In [5]:
# What is the percentage of people who have a Bachelor's degree?

bachelors = df[df["education"]=="Bachelors"].shape[0]

total = df.shape[0]

percentage_bachelors = round((bachelors / total) * 100,2)
percentage_bachelors

16.45

In [6]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`

higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
#higher_education_len = higher_education.shape[0]

lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
#lower_education_len = lower_education.shape[0]

higher_education_rich_len = len(higher_education[higher_education["salary"] == ">50K"])
 
lower_education_rich_len = len(lower_education[lower_education["salary"] == ">50K"])

higher_education_rich = round((higher_education_rich_len / total * 100) , 2)
lower_education_rich = round((lower_education_rich_len / total * 100) , 2)

print(higher_education_rich,",", lower_education_rich)

10.71 , 13.37

In [7]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?

min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [8]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df["hours-per-week"] == min_work_hours]
#num_min_workers_len = num_min_workers.shape[0]

rich_percentage_len = len(num_min_workers[num_min_workers["salary"] == ">50K"])

rich_percentage = round((rich_percentage_len / total) * 100, 2)
rich_percentage

0.01

In [9]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country_value= df[df["salary"] == ">50K"]["native-country"].value_counts()
highest_earning_country= ((highest_earning_country_value/ total) * 100).idxmax()
highest_earning_country_percentage= round((highest_earning_country_value/ total * 100).max(),2)

print(highest_earning_country,",",highest_earning_country_percentage)

United-States , 22.02

In [11]:
# Identify the most popular occupation for those who earn >50K in India.

top_IN_occupation = df[(df["native-country"]=="India") & (df["salary"]==">50K")]["occupation"].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'